
.smallerCentreCard{
    height: 352px;
    width: 352px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    border-radius: 5px;   
}
.smallerCentreCard h2{
    font-size: 37px;
    margin-bottom: 0;
}
.smallerCentreCard__card1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/trail.jpg"); 
}
.smallerCentreCard__card2{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ultra.jpg"); 
}
.smallerCentreCard__card3{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/park.jpg"); 
}
.smallerCentreCard__card4{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ocr.jpg"); 
}
.smallerCentreCard__card5{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/orienteering.jpg"); 
}
.smallerCentreCard__card6{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/road.jpg"); 
}
.smallerCentreCard__card7{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/swimrun.jpg"); 
}



@media only screen and (max-width: 600px) and (min-width: 0px) {
    .smallerCentreCard{
        height: 200px;
        width: 200px;
    }
    .smallerCentreCard h2{
        font-size: 22px;
    }
    .smallerCentreCard__card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/trail.jpg"); 
    }
    .smallerCentreCard__card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ultra.jpg"); 
    }
    .smallerCentreCard__card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/park.jpg"); 
    }
    .smallerCentreCard__card4{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ocr.jpg"); 
    }
    .smallerCentreCard__card5{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/orienteering.jpg"); 
    }
    .smallerCentreCard__card6{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/road.jpg"); 
    }
    .smallerCentreCard__card7{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/swimrun.jpg"); 
    }
}