
/* ########## Carousel CSS ######## */

.slider {
    padding: 40px 0px 10px 0px;
}
.slider_controls{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
}
.slider {
    margin: 0 auto;
    text-align: center;
    max-width: 2500px;
}
.slider5 .slider_controls {
    height: 450px;
    max-width: 2500px;
}
.slider5 .innerSlider a{
    text-decoration: none;
}
.innerSlider5 a {
    text-decoration: none;
}
.slider5 .innerSlider{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.sliderFiveLeft{
    margin-right: 20px;
}



.slider1 .slider_controls {
    height: 450px;
    max-width: 2500px;
}
.slider1 .innerSlider a{
    text-decoration: none;
}
.innerSlider1 a {
    text-decoration: none;
}
.slider1 .innerSlider{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.slider1Left{
    margin-right: 20px;
}



.sider_container{
    overflow: scroll;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}
.snapEffect{
    scroll-snap-type: x;  
    scroll-behavior: smooth;
}
.sliderChild{
    scroll-snap-align: start;
}

.innerSlider a {
  pointer-events: all; 
}

.slider_card {
    align-content: center;
}
.innerSlider img{
    max-height: 200px;
}
.slider_card_meta_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.innerSlider a{
    text-transform: uppercase;
    color: #000;
    text-decoration: underline;
}
.innerSlider_card_meta_info h3{
    text-transform: uppercase;
}
.sliderButtonControlContainer{
    display: flex;
    justify-content: flex-end;
    margin: 0px 40px 40px 0px;
}
.sliderButtonControl{
    background-color: #ebebeb;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
}

.sliderButtonControl:disabled,
.sliderButtonControl[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.lineThroughText {
    text-decoration-line: line-through;
}
.feature{
    border: 1px solid #000;
    display: inline-block;
    padding: 2px 20px;
    margin-bottom: 25px;
}
.noFeature{
    height: 50px;
}
.feature span{
    text-transform: uppercase;
    font-size: 10px;
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    .slider5 .slider_controls{
        height: 360px;
    }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .slider5 .slider_controls{
        height: 208px;
    }
}
@media only screen and (max-width: 800px) {
    .innerSlider {
        width: auto;
    }
    .innerSlider img{
        max-height: 160px;
    }
    .slider5{
        margin-left: 20px;
    }
}